.backgroundContainer{
    background-image: url('https://images.unsplash.com/photo-1768590238594-625fe0d913aa?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 280vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    padding: 20px;
}
.container form {
    margin-top: 0px;
    margin-bottom: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.container form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #928a8a;
    border-radius: 5px;
}

.container form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}